## Thư mục tạm thời và cache của Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx

## Thư mục build output (Thư mục bin và obj của tất cả các sub-projects)
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

## Các tệp sinh ra khi xuất bản (Publish) hoặc chạy thử
*.log
*.tmp
*.bak
*.cache
